/* Courses.css */
.container {
  padding: 2rem;
}

.main-heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.card {
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%; /* Ensures the image takes the full width of the card */
  height: 200px; /* Fixed height for consistency */
  object-fit: cover; /* Ensures the image is cropped rather than stretched */
}

.card-body {
  text-align: center;
  height: 200px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

@media (max-width: 768px) {
  .card1 {
    margin-bottom: 1rem;
    max-width: 900px;
    
  }
  
  .card-body1 {
    width: 330px;
    max-height: 400px;
  }

  .card-img-top {
    height: 180px; /* Slightly smaller height for mobile screens */
  }
}
